
/*componentes gerais*/

body {
margin: 0;
padding: 0;
}
.principal {
    width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #3686FF;
}
h2 {
    margin: 0;
    padding: 0;
    color: #ffffff;
}
/*cabeçalho*/

.inicio {
    display: table;
}
.nome {
    float: right;
    width: 318px;
    padding: 15px;
    padding-right: 10px;
}
.nome h1 {
    margin: 10px;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    text-indent: 20px;
    float: right;
    color: #2e71d6;
    margin-right: 90px;
}
.nome img {
    float: right;
    margin-right: 50px;
}
    /* menu do cabeçalho */
.menu {
    float: left;
    margin-top: 15px;
    width: 460px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 50px;
}
.menu ul li {
    display: contents;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    color: #2e71d6;
}
.menu ul li a:hover {
    font-size: 19px;
    background: #0d2b58;
    color: #ffffff;
    font-weight: bold;
}

/*rodapé*/

.fim {
    background-color: #2e71d6;
    display: table;
    width: 900px;
    margin: auto;
    box-shadow: 0px 0px 10px #3686FF;
}
.fim h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff;
}
.linksrodape {
    width: 185px;
    float: left;
    margin-left: 10px;
}
.linksrodape ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.linksrodape ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.linksrodape ul li a:hover {
    font-size: 22px;
    color: #0d2b58;
}
.dadosrodape, .dadosrodape2 {
    overflow: hidden;
}
.contatos {
    width: 185px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.contatos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contatos ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.contatos ul li a:hover {
    font-size: 22px;
    color: #0d2b58;
}
.redes {
    width: 185px;
    float: left;
    margin-left: 5px;
}
.redes a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.redes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.redes ul li a:hover {
    font-size: 22px;
    color: #0d2b58;
}

/*conteudo da página*/

.conteudo {
    width: 900px;
    margin: 0;
    height: 50%;
    box-shadow: 0px 10px #3686FF;
}
#noticias h2 {
    color: #2e71d6;
    text-align: center;
    margin-bottom: 10px;
}
#noticias tr {
    width: 900px;
}
#noticias td {
    width: 280px;
    padding: 10px;
}
#noticias a {
    text-decoration: none;
}
#noticias p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2e71d6;
}
#noticias a img h2 p:hover {
    font-size: 30px;
    color: #0d2b58;
}
/* meun superior */
.navegacao {
    width: 100%;
    background-color: #0d2b58;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 900px
}
  .navegacao a {
    float: left;
    text-align: center;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-weight: lighter;
    border: #2e71d6 3px;
  }
  .navegacao a:hover {
    background-color: white;
    color: #0d2b58;
  }
  .active {
    background-color: #2e71d6;
  }
  @media screen and (max-width: 500px) {
    .navegacao a {
      float: none;
      display: block;
    }
  }
  .navegacao input {
    font-size: 17px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  